ion-badge {
    margin-top: 8px;
    background: rgba(0,0,0,.08);
    margin-right: 0.3em;
}

div.input-wrapper {
    background-color: blue;
}

h1 {
    font-weight: 900;
}

ion-list {
    background: transparent;
}

// ion-card {
//     margin: 0 auto !important;
// }